
@mixin click {
  cursor: pointer;
  transition: opacity 0.7;
  &:hover {
    opacity: 0.7;
  }
}

.header {
	position: absolute;
	top: 0;
	max-width: 600px;
	width: 100%;
	left: calc(50% - 300px);
	background-color: #fff;
	z-index: 1;

	&__top {
		display: flex;
		justify-content: space-between;
		padding: 24px 0;
		border-bottom: 1px solid #000;
	}

	&__list {
		display: flex;
		gap: 24px;
		&--top {
			flex-direction: column;
			gap: 12px;
		
		}
	}
	
	&__link {
		font-size: 16px;
		text-decoration: none;
		color:#343a40;
		@include click;

		height: 24px;
		display: flex;
		align-items: center;
	}
	

	&__button {
		height: 24px;
		width: 24px;
		background-position: center center;
		background-repeat: no-repeat;

		&--open {
			background-image: url('/svg/open.svg');
		}
		&--close {
			background-image: url('/svg/close.svg');
		}
		@include click;
	}

	&__bottom {
		padding: 24px 0;
		border-bottom: 1px solid #dee2e6
	}

	&__wrapper {
		overflow: hidden;
		height: 0;
		transition: height 0.7s;
		&--open {
			height: 0;
		}
	}
}

.page {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  gap: 64px;
}

.slider {
  border-radius: 12px;
  position: relative;
  width: 100%;

  &__content {
    display: flex;
    overflow: hidden;
    border-radius: 12px;
  }

  &__button {
    height: 32px;
    width: 32px;
    background-color: #fff;
    border-radius: 32px;
    position: absolute;

    background-position: center center;
    background-repeat: no-repeat;

    position: absolute;
    top: calc(50% - 16px);

    &--left {
      left: 24px;
      background-image: url('/svg/button--left.svg');
    }

    &--right {
      right: 24px;
      background-image: url('/svg/button--right.svg');
    }
	@include click;
  }

}
